:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

form .form-group .group a {
    border-radius: 50%;
}

.edit-submit {
    color: #fff;
}

.error {
    color: red;
}

.group {
    position: relative;
}

.user_photo_prev {
    width: 100px;
    margin-right: 10px;
}

.input-wrapper{
    display: flex !important;
    height: 44px !important;

}

.photo-input {
    overflow: hidden;
}

.clear-btn {
    border-radius: 50px !important;
    padding: 0 8px !important;
    position: absolute;
    right: 10px;
    color: red;
    z-index: 1;
}

.input_group {
  display: flex;
  align-items: center;
}
